<!DOCTYPE html>
<html>
	<head>
		<title>Realtime Multiplayer Trivia Game</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script type="text/javascript" src="/static/scripts/0-socketio.js"></script>
	</head>
	<body>
		<h1>Real Time Multiplayer Trivia Game</h1>
		<input id="user-name" placeholder="What's Your Name?">
	</body>
</html>

