<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat App</title>
	<link rel="stylesheet" href="/static/styles/chat.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
	<div class="login-container" id="login-container">
		<h1>Enter Your Username</h1>
		<input type="text" id="username" placeholder="Username">
		<button id='join-btn'>Join</button>
	</div>

	<div class="chat-container" id="chat-container" style="display: none;">
		<div class="chat-header">
			<h2>Chat Room</h2>
		</div>
		<div class="chat-messages" id="chat-messages">
			<ul id="chat-msg">
			</ul>
		</div>
		<div class="chat-input">
			<input type="text" id="message-input" placeholder="Type a message">
			<button id='send-btn'>Send</button>
		</div>
	</div>
	<script src="/static/scripts/chat.js"></script>
</body>
</html>


